<app-slider
  [greeting]="'Movies'"
  [size]="'small'"
></app-slider>

<div class="center">
    <section id="content">
        <div id = "favorite" *ngIf="favorite">
            <h2 class="subheader">Favorite Movie</h2>
            {{favorite.title | uppercase}}
            <br>
            <!-- {{favorite.year | date: 'full'}} -->
            {{favorite.year}}
            <br>
            {{favorite.year | pair}}
        </div>
        <h1 class="subheader">Movies</h1>
        <!--
        <h2>{{title}}</h2>
        <button (click)='changeTitle()'>Press Me</button>
        <hr>
        <h2>Number of movies: </h2>
        <p>{{movies.length}}</p>
        <hr>
        <h2 class="subheader">List of movies: </h2>
        -->
        <div *ngIf="movies.length > 0">
            <!-- <div *ngFor=""> -->
                <div id="articles">
                    <div *ngFor="let movie of movies; let i = index">
                        <app-pelicula
                            [movie]="movie"
                            (MarkFavorite)="showFavorite($event)"
                        ></app-pelicula>
                    </div>
                </div>
            <!-- </div> -->
        </div>
        <div *ngIf="movies.length === 0">
            <p>There aren't any movies to show. </p>
        </div>
        </section>

    <app-sidebar></app-sidebar>
</div>