<header id="header">
    <div class="center">
        <div id="logo">
            <img src="assets/images/logoAngular.png" class="app-logo" alt="Logotipo" />
            <span id="brand">
                <strong>Angular</strong>Course
            </span>
        </div>
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
                </li>
                <li>
                    <a [routerLink]="['/form']" [routerLinkActive]="['active']">Form</a>
                </li>
                <li>
                    <a [routerLink]="['/movies']" [routerLinkActive]="['active']">Movies</a>
                </li>
                <li>
                    <a [routerLink]="['/page']">Test Page</a>
                </li>
                <li>
                    <a [routerLink]="['/events']" [routerLinkActive]="['active']">Events</a>
                </li>
            </ul>
        </nav>

        <!-- Limpiar flotados -->
        <div class="clearfix"></div>
    </div>
</header>