<app-slider
  [greeting]="'Test Page'"
></app-slider>

<div class="center">
    <section id="content">
        <h1 class="subheader">Page</h1>

            <div *ngIf="name && lastname; else noParams">
                <p class="subheader">The name inserted is: {{name}}</p>
                <p class="subheader">The lastname inserted is: {{lastname}}</p>
            </div>

            <ng-template #noParams>
                <p class="subheader">There aren't params inserted: {{name}}</p>
            </ng-template>

            <button (click)="redirection()">Take me to the form</button>
            <br>
            <button (click)="redirectionWithParams()">Take me to this page with params</button>

        </section>

    <app-sidebar></app-sidebar>
</div>