<div id="slider" [ngClass]="{
    'slider-big': !size || size == 'big',
    'slider-small': size == 'small'
}">
    <h1>{{greeting}}</h1>
    <a [routerLink] = "['/blog']" class="btn-white" *ngIf="!size || size == 'big'">Go to blog</a>
</div>