<app-slider
  [greeting]="'Welcome to my Javascript Angular Course.'"
></app-slider>

<div class="center">
    <section id="content">
        <h2 class="subheader">{{title}}</h2>
    </section>

    <app-sidebar></app-sidebar>
</div>