body {
    text-align: center;
    margin: 0px;
    padding: 0px;

    /* FUENTES */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialised;
    -moz-font-smoothing: antialised;
    -moz-osx-font-smoothing: antialised;
}

#header {
    background: white;
    /* border: 1px solid black; */
    border-bottom: 1px soli #ccc;
    border-top: 3px solid #f53333;
    height: 120px;
    width: 100%;
    
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: -9px;
    margin-top: -10px;
    animation: latir infinite 3s linear;
}

@keyframes latir {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.05, 1.05);
    }
    55% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1, 1);
    }
}

#brand {
    display: block;
    margin: 0px;
    float: left;
}

#menu {
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li {
    list-style: none;
    height: 46px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover, .active  {
    color: #f53333 !important;
}

#menu ul {
    width: 70%;
    float: right;
    font-size: 18px;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.clearfix {
    clear: both;
    float: none;
}

#slider {
    width: 100%;
    /* background: #61dafb; */
    height: 350px;
    /* line-height: 320px; */
    color: white;
    text-shadow: 0px 0px 5px #444;

    /* Degradado CSS */
    background: rgba(248,80,50,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 73%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(73%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 73%, rgba(231,56,39,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 73%, rgba(231,56,39,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 73%, rgba(231,56,39,1) 100%);
    background: radial-gradient(ellipse at center, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 73%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}

#slider h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 130px;
    text-align: center;
}

.btn-white {
    display: block;
    color: #444;
    background: white;
    padding: 10px;
    width: 130px;
    height: 35px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px #ccc;
    margin-top: 40px;
    border-radius: 4px;
    transition: 300ms all;
}

.btn-white:hover {
    background: #444;
    color: white;
}

#slider.slider-small {
    height: 150px;
}

#slider.slider-small h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 53px;
}

#content {
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 25px;
}

#sidebar {
    width: 25%;
    float: left;
}

.sidebar-item {
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3 {
    text-transform: uppercase;
    font-size: 19px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
}

.sidebar-item .btn {
    margin: 0px auto;
    margin-top: 10px;
}

.btn {
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

.year-green {
    display: block;
    background: green;
    color: white;
    padding: 5px;
    width: 121px;
    font-size: 14px;
    text-align: center;
}

.year-red {
    display: block;
    background: red;
    color: white;
    padding: 5px;
    width: 121px;
    font-size: 14px;
    text-align: center;
}

.btn-success {
    background: rgb(23, 150, 19);
}

.btn-success:hover {
    background: black;
}

.mid-form label {
    display: block;
    text-align: left;
    float: left;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 17px;
}

.mid-form {
    width: 60%;
    margin: 0px auto;
}

.radiobuttons {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}

input[type="text"], textarea {
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="text"]:focus, textarea:focus {
    box-shadow: 0px 0px 5px #eee inset;
}

textarea {
    width: 100%;
    height: 200px;
    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
    min-height: 200px;
}

#footer {
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
}

#footer p {
    margin: 0px;
    padding: 0px;
}

.article-item {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap {
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img {
    height: 100%;
    text-align: center;
}

.article-item h2 {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date {
    display: block;
    width: 100%;
    color: rgb(122, 122, 122);
}

.article-item a {
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 50px;
}

.article-item a:hover {
    text-decoration: underline;
}

.subheader {
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.article-detail .image-wrap {
    float: none;
    width: 100%;
    height: 300px;
}

.article-detail .subheader {
    margin-bottom: 0px;
    border: none;
    margin-top: 15px;
}

.article-detail .image-wrap img {
    width: 100%;
    height: auto;
}


/* RESPONSIVE */
/* Desde la anchura 0px hasta la 1488px de pantalla se ejecutarán los siguientes estilos*/
@media (max-width: 2088px) {
    .center {
        width: 85%;
    }
    #menu ul {
        width: auto;
    }
}

@media (max-width: 1314px) {
    .center {
        width: 95%;
    }

    #menu ul {
        width: 100%;
        margin: 15px;
    }
}

@media (max-width: 881px) {
    #logo {
        float: none;
        width: 265px;
    }
    
    #menu,
    #menu ul {
        width: auto;
        float: none;
        padding: -17px;
        line-height: 38px;
    }
}

@media (max-width: 812px) {
    #logo {
        width: 270px;
        float: none;
        margin: 0px auto;
        margin-top: 20px;
    }
    
    #menu,
    #menu ul {
        clear: both;
        float: none;
        width: auto;
        margin: 0px;
        padding: 0px;
        line-height: 43px;
    }

    #content {
        float: none;
        width: 100%;
    }

    #content {
        float: none;
        width: 60%;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    #slider h1 {
        padding-top: 115px;
        font-size: 25px;
    }

    .mid-form {
        width: 70%;
    }

    #sidebar {
        float: none;
        margin: 0px auto;
        width: 50%;
    }
}

@media (max-width: 497px) {
    #header {
        min-height: 130px;
        overflow: hidden;
    }

    #menu,
    #menu ul {
        line-height: 50px;
        width: auto;
        font-size: 10px;
        padding-left: 0px;
    }

    #slider {
        height: 180px;
    }

    #slider h1 {
        font-size: 19px;
        padding-top: 30px;
    }

    #slider .btn-white {
        margin-top: 20px;
    }

    #slider.slider-small {
        height: 100px;
    }

    #slider.slider-small h1 {
        padding-top: 35px;
    }
}