<article class="article-item">
    <div class="image-wrap">
        <img src="{{movie.image}}" alt="Paisaje">
    </div>

    <h2>{{movie.title}}</h2>
    <span class="date">
        5 minutes ago.
    </span>
    <a href="article.html">Read more</a>
    <!-- <span class="year" [style.color]="movie.year > 2015 ? 'green' : 'red'">
        {{movies.year}}
    </span> -->

    <!-- También podemos hacer la validación invocando una clase completa -->
    <span class="year" [ngClass]="{
        'year-green': movie.year >= 2015,
        'year-red': movie.year < 2015
    }">
        {{movie.year}}
    </span>

    <button (click)="select($event, movie)">
        Mark as Favorite
    </button>

    <div class="clearfix"></div>
</article>