<hr>
<h1>{{title}}</h1>
<h2>{{year}}</h2>
<p>{{comment}}</p>
<hr>
<button (click)='hideMovies()'>Hide Movies</button>
<button (click)='showMoviesMethod()'>Show Movies</button>
<hr>
<div *ngIf='showMovies'>
    <peliculas></peliculas>
</div>
<hr>