<app-slider
  [greeting]="'Events'"
  [size]="'small'"
></app-slider>

<div class="center">
    <section id="content">
      <h2 class="subheader">Events</h2>
      <button (click)="onClick()">Click</button>
      <input type="text" name="field" [(ngModel)]="field" (blur)="onExit()">
      <input type="text" name="field2" class="year" [(ngModel)]="field2" (keyup)="onAnyKey()">
      <input type="text" name="field3" [(ngModel)]="field3" (keyup.enter)="onEnterKey()">
    </section>

    <app-sidebar></app-sidebar>
</div>