<aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
        <h3>Things you can do</h3>
        <a href="#" class="btn btn-success">Create article</a>
    </div>
    <div id="search" class="sidebar-item">
        <h3>Seeker</h3>
        <p>Find the article you're looking for.</p>
        <form>
            <input type="text" name="search">
            <input type="submit" name="submit" value="Search" class="btn">
        </form>
    </div>
</aside>
<div class="clearfix"></div>