<app-slider
  [greeting]="'Form'"
  [size]="'small'"
></app-slider>

<div class="center">
    <section id="content">
        <h1 class="subheader">Form</h1>

        <!-- <div id="registeredData" *ngIf="user.nombre">
          <h2 class="subheader">Registered Data</h2>
          <ul>
            <li>Name: {{user.nombre}}</li>
            <li>Lastname: {{user.apellidos}}</li>
            <li>Bio: {{user.bio}}</li>
            <li>Genre: {{user.genero}}</li>
          </ul>
        </div> -->

        <form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre"
              required pattern="[a-zA-Z]+">
              <small *ngIf="!nombre.valid && nombre.touched">The field name is invalid.</small>
          </div>
          <div class="form-group">
              <label for="apellidos">Apellidos</label>
              <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="user.apellidos"
              required pattern="[a-zA-Z]+">
              <small *ngIf="!apellidos.valid && apellidos.touched">The field lastname is invalid.</small>
          </div>
          <div class="form-group">
              <label for="biografia">Biografía</label>
              <textarea name="bio" #bio="ngModel" [(ngModel)]="user.bio" required></textarea>
              <small *ngIf="!bio.valid && bio.touched">The field bio is invalid.</small>
          </div>
          <div class="form-group radiobuttons">
              <input type="radio" name="genero" #genero="ngModel" value="Man" [(ngModel)]="user.genero" required>Man
              <input type="radio" name="genero" value="Woman" [(ngModel)]="user.genero">Woman
              <input type="radio" name="genero" value="Other" [(ngModel)]="user.genero">Other
              <small *genero="!genero.value">The field genre is invalid.</small>
          </div>
          <div class="clearfix"></div>
          <input type="submit" value="Enviar" class="btn btn-success" [disabled]="userForm.invalid">
      </form>
    </section>

    <app-sidebar></app-sidebar>
</div>