<app-slider
  [greeting]="'Blog'"
  [size]="'small'"
></app-slider>

<div class="center">
    <section id="content">
        <h1 class="subheader">Blog</h1>
        <div id="articles">
          <article class="article-item" *ngFor="let article of articles">
              <div class="image-wrap">
                <img src="{{url + 'getImage/' + article.image}}" alt="{{article.title}}" *ngIf="article.image">
                <img src="assets/images/defaultimg.png" alt="{{article.title}}" *ngIf="!article.image">
              </div>
              <h2>{{article.title}}</h2>
              <span class="date">
                  {{article.date}}
              </span>
              <a href="#">Leer más</a>
              <div class="clearfix"></div>
          </article>
      </div>
    </section>

    <app-sidebar></app-sidebar>
</div>
